body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 100px;
    background-color: #000;
}

.header {
    max-width: 1140px;
    height: 100px;
    background-color: #00F;
    margin: auto;
}